<article class="max-w-4xl mx-auto p-8">
  <div class="hero my-8">
    <div class="hero-content flex-col lg:flex-row">
      <div>
        <h1 class="text-5xl font-bold">Samuel Woodstock Resume</h1>
        <p class="py-6">
          Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
          excepturi exercitationem quasi. In deleniti eaque aut repudiandae et
          a id nisi.
        </p>
        <p class="py-6">
          Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
          excepturi exercitationem quasi. In deleniti eaque aut repudiandae et
          a id nisi.
        </p>
        <p class="py-6">
          Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
          excepturi exercitationem quasi. In deleniti eaque aut repudiandae et
          a id nisi.
        </p>
      </div>
    </div>
  </div>
  <div class="my-8">
    <h2 class="text-3xl font-bold">Experience 1</h2>
    <p class="py-6 mx-4 lg:mx-12">
      Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
      excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id
      nisi.
    </p>
    <p class="py-6 mx-4 lg:mx-12">
      Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
      excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id
      nisi.
    </p>
    <p class="py-6 mx-4 lg:mx-12">
      Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
      excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id
      nisi.
    </p>
  </div>
  <div class="my-8">
    <h2 class="text-3xl font-bold">Experience 2</h2>
    <p class="py-6 mx-4 lg:mx-12">
      Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
      excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id
      nisi.
    </p>
    <p class="py-6 mx-4 lg:mx-12">
      Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
      excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id
      nisi.
    </p>
    <p class="py-6 mx-4 lg:mx-12">
      Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
      excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id
      nisi.
    </p>
  </div>
  <div class="my-8">
    <h2 class="text-3xl font-bold">Experience 3</h2>
    <p class="py-6 mx-4 lg:mx-12">
      Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
      excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id
      nisi.
    </p>
    <p class="py-6 mx-4 lg:mx-12">
      Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
      excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id
      nisi.
    </p>
    <p class="py-6 mx-4 lg:mx-12">
      Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
      excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id
      nisi.
    </p>
  </div>
</article>
