<script lang="ts">
  import "../app.css";
</script>



<main style="user-drag: none" class="bg-gradient-to-bl from-base-100 to-secondary">
      <nav>
        <div class="navbar glass font-thin">
            <div class="mx-8 flex-1">
              <a class="btn btn-ghost text-xl">Elle Woodstock</a>
            </div>
            <div class="flex-none">
              <ul class="menu menu-horizontal px-1">
                <li><a href="/">Blog</a></li>
                <li><a href="/">Home</a></li>
              </ul>
            </div>
          </div>
    </nav>
    <slot>
    </slot>
</main>