<script lang="ts">
  let posts: any = [
    [
      {
        title: "Blog title",
        description: "Blog description",
        new: true,
        tags: ["Fashion", "Products"],
        href:"posts/SamuelWoodstockResume"
      },
      {
        title: "Blog title",
        description: "Blog description",
        new: false,
        tags: ["Disney", "Family"],
        href:"posts/SamuelWoodstockResume"
      },
    ],
    [
      {
        title: "Blog title",
        description: "Blog description",
        new: false,
        tags: ["Dog", "Family"],
        href:"posts/SamuelWoodstockResume"
      },
      {
        title: "Blog title",
        description: "Blog description",
        new: false,
        tags: ["Work", "Law"],  
        href:"posts/SamuelWoodstockResume"
    },
    ],
    [
      {
        title: "Blog title",
        description: "Blog description",
        new: false,  
        tags: ["Fashion", "Review"],  
        href:"posts/SamuelWoodstockResume"
    },
    ],
  ];
</script>

<body>
  <div class="min-h-screen">
    <!-- Hero -->
    <div class="hero my-8">
      <div class="hero-content flex-col lg:flex-row">
        <img
          src="https://dummyimage.com/300x250/663366/fff"
          class="max-w-sm rounded-lg shadow-2xl"
        />
        <div>
          <h1 class="text-5xl font-bold">Elle Woodstock Blog!</h1>
          <p class="py-6">
            Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
            excepturi exercitationem quasi. In deleniti eaque aut repudiandae et
            a id nisi.
          </p>
          <button class="btn btn-secondary">Most recent post</button>
        </div>
      </div>
    </div>
    <!--Posts-->
    <div class="text-center flex flex-col items-center align-middle">
      <h1 class="text-5xl my-6 font-thin">Posts</h1>
      {#each posts as posts}
        <div class="flex md:my-8 md:flex-row flex-col">
          {#each posts as post}
            <a href={post.href}>
                <div class="card my-4 mx-8 glass w-96 shadow-xl">
              <figure>
                <img
                  src="https://dummyimage.com/300x250/663366/fff"
                  alt="Shoes"
                />
              </figure>
              <div class="card-body">
                <h2 class="card-title">
                  {post.title}
                  {#if post.new}
                  <div class="badge badge-secondary">NEW</div>
                  {/if}
                </h2>
                <p>{post.description}</p>
                <div class="card-actions justify-end">
                    {#each post.tags as tag}
                  <div class="badge badge-outline">{tag}</div>
                  {/each}
                </div>
              </div>
                </div>
            </a>
          {/each}
        </div>
      {/each}
    </div>
  </div>
</body>
